body {
    color:#222222;
    background-color: #c4dece
    margin-left: 50px;
    margin-right: 700px;
}

h2 {
    color: #00004d; 
    text-align: center;
}

a:link {
    color:#00004d; 
}

a:visited {
    color:#00004d
}
