/* @import "{{ minima }}"; */

body {
    background-color: #a8d2ff; /* Replace #ADD8E6 with your desired color code */
    font-family: 'Georgia', monospace;

}

h2 {
    color: #f3657a; /* Pastel Pink */
}
