body {
    color:#f0f0f5;
    background-color: #c4dece
    margin-left: 50px;
    margin-right: 700px;
}

h2 {
    color: #00004d; 
    text-align: center;
}

a:link {
    color:#d7d4e7; 
}

a:visited {
    color:#c4dece
}
